@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

header, footer {
    display: flex;
    left: 0;
    right: 0;
    height: 50px;
    background-color: black;
    color: gray;
}

header {
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    background-color: #e5e5e5;
}

footer {
    justify-content: center;
    position: absolute;
}

h1, h2, #menu a, #hamburger-menu a {
    font-family: 'Major Mono Display', monospace;
}

h2 {
    text-align: center;
}

#menu a {
    font-size: 22px;
}

#menu a, #hamburger-menu a {
    color: gray;
}

#menu a:hover, #hamburger-menu a:hover, #close-ham-menu:hover, header h1:hover {
    color: white;
}

#menu {
    width: 390px;
    display: flex;
    justify-content: space-between;
}

main {
    margin-top: 55px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 1000px;
    background-color: white;
    margin: 8px;
    padding: 5px 15px;
    border-radius: 3px;
}

#about img {
    border-radius: 3px;
}

#portfolio img {
    width: 400px;
    height: 220px;
    border-radius: 3px;
}

.window-model {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.window {
    position: fixed;
    background-color: white;
    width: 750px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    border: black solid 1px;
    padding: 15px;
}

.close-window {
    font-size: 35px;
    color: red;
}

#portfolio-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    width: 400px;
    text-align: center;
}

.open-window:hover {
    transform: scale(1.01);
    cursor: pointer;
}

#contacts {
    text-align: center;
}

.close-window, #open-ham-menu, #close-ham-menu {
    cursor: pointer;
}

/* Hamburger menu */
#hamburger-menu {
    display: none;
    height: 180px;
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    justify-content: space-around;
    text-align: center;
    background-color: black;
    padding: 8px 8px 0;
    font-size: 17px;
    border-radius: 3px;
}

@media (min-width: 1101px) {
    #hamburger, #hamburger-menu, #open-ham-menu {
        display: none;
    }
}

@media (max-width: 1100px) {
    #open-ham-menu {
        display: block;
    }

    #menu {
        display: none;
    }

    header h1 {
        font-size: 25px;
    }
}

#close-ham-menu {
    font-size: 25px;
}

#open-ham-menu {
    height: 22px;
}